:root{
  --head-font : LuckiestGuy;
  }
  @font-face {
    font-family: LuckiestGuy;
    src: url(../fonts/LuckiestGuy-Regular.ttf);
  }
  body{
   padding: 0;
   margin: 0;
   font-family: var(--head-font);
   background-color: rgb(53, 53, 109);
  }
  header{
    width: 70%;
    margin: auto;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
    background-color: rgb(227, 224, 224);
  }

  .head{
    top: 5%;
    left: -25%;
    opacity: 0;
    animation-name: move;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
  }
  h1 {
    font-size: 40px;
    letter-spacing: 1px;
    color: rgb(53, 53, 109);
    text-shadow: 2px 2px 1px azure;
    margin-right: 5px;
  }
  span{
    font-size: 40px;
    letter-spacing: 1px;
    color: azure;
    text-shadow: 2px 2px 1px rgb(53, 53, 109);
    margin-right: 5px;
  }

  @keyframes move {
    from{
      left: -25%;
    }
    to{
      left: 5%;
      opacity: 1;
    }
    
  }

  .loginVideo{
    width: 150px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 5px black;
  }
  .sec{
    opacity: 0;
  }
  @keyframes run {
    from{
      left: 50%;
    }
    to{
      left: -200%;
    }
  }